<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ant.core.antTasks">
		<antTask
        class="org.faktorips.ant.projectimporter.ProjectImporter"
        eclipseRuntime="true"
        headless="true"
        library="ant-tasks.jar"
        name="importProject"/>
	</extension>
	


	<extension point="org.eclipse.ant.core.extraClasspathEntries">
		<extraClasspathEntry library="ant-tasks.jar"/>
	</extension>

</plugin>
