<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
      <extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true" id="createHtmlExport" objectClass="org.eclipse.core.resources.IProject">
			<action
		    class="org.faktorips.devtools.htmlexport.actions.CreateHtmlExportAction"
		    enablesFor="*"
		    icon="icons/sample.gif"
		    id="createHtmlExport"
		    label="%createHtmlExport"
		    menubarPath="faktorIPSMenu/faktorIpsGroup"/>
		  	
		</objectContribution>
   </extension>
-->
      <extension
            point="org.eclipse.ui.exportWizards">
                   <category
             id="org.faktorips.devtools"
             name="%org.faktorips.devtools.exportWizard.category">
       </category>
     	<wizard
            category="org.faktorips.devtools"
            class="org.faktorips.devtools.htmlexport.wizards.IpsProjectHtmlExportWizard"
            icon="icons/HtmlExport.gif"
            id="ipsProjectHtmlExportWizard"
            name="%exportIpsProjectHtml">
    	   <description>%exportIpsProjectHtmlDescription</description>
    	   <selection class="org.eclipse.core.resources.IResource"/>
	    </wizard>
      </extension>
</plugin>
