<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true" id="createHtmlExport" objectClass="org.eclipse.jdt.core.IJavaProject">
            <menu id="faktorIPSMenu" label="%faktorIPSMenu" path="additions">
			    <separator name="faktorIpsGroup"/>
            </menu>
			<action
		    class="org.faktorips.devtools.htmlexport.actions.CreateHtmlExportAction"
		    enablesFor="*"
		    icon="icons/AddIpsNature.gif"
		    id="createHtmlExport"
		    label="%createHtmlExport"
		    menubarPath="faktorIPSMenu/faktorIpsGroup"/>
		  	
		</objectContribution>
   </extension>

</plugin>
