# maven
target/

faktorips-valuetypes/.classpath
faktorips-valuetypes-joda/.classpath
faktorips-runtime/.classpath
faktorips-runtime-groovy/.classpath
faktorips-testsupport/.classpath
faktorips-util/.classpath
faktorips-dtfl-common/.classpath

# files generated (temporary) by the tycho maven builds
.polyglot.*
.META-INF_*
pom.tycho
.tycho-consumer-pom.xml

# Eclipse
.project
.settings

# IntelliJ
.idea
