# maven
target/

# files generated (temporary) by the tycho maven builds
.polyglot.*
.META-INF_*
pom.tycho
.tycho-consumer-pom.xml
.flattened-pom.xml

# Eclipse
bin
/.settings
.classpath
.fbExcludeFilterFile
.project
edu.umd.cs.findbugs.core.prefs
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
org.eclipse.pde.core.prefs
org.moreunit.prefs

**/OSGI-INF/*.xml
**/ant_tasks_bin
**/ant-tasks.jar

# IntelliJ
.idea
