# maven
target/

# files generated (temporary) by the tycho maven builds
.polyglot.*
.META-INF_*
pom.tycho
.tycho-consumer-pom.xml
.flattened-pom.xml

# Eclipse
/.project
/.settings
faktorips-*/.classpath
faktorips-*/.project
faktorips-*/.settings/org.eclipse.core.resources.prefs
faktorips-*/.settings/org.eclipse.m2e.core.prefs
faktorips-*/.settings/org.eclipse.pde.core.prefs
faktorips-*/.settings/org.moreunit.prefs

# IntelliJ
.idea
