<settings>
    <mirrors>
    
        <!-- Egit -->
        <mirror>
            <id>faktorzehn-egit-5.3</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/egit/updates-5.3</mirrorOf>
            <url>https://archive.eclipse.org/egit/updates-5.3</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-egit-5.4</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/egit/updates-5.4</mirrorOf>
            <url>https://archive.eclipse.org/egit/updates-5.4</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        
        <!-- SDK -->
        <mirror>
            <id>faktorzehn-2019-03</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2019-03</mirrorOf>
            <url>http://download.eclipse.org/releases/2019-03</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2019-06</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2019-06</mirrorOf>
            <url>http://download.eclipse.org/releases/2019-06</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2019-09</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2019-09</mirrorOf>
            <url>http://download.eclipse.org/releases/2019-09</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2019-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2019-12</mirrorOf>
            <url>http://download.eclipse.org/releases/2019-09</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2020-03</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2020-03</mirrorOf>
            <url>http://download.eclipse.org/releases/2020-03</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2020-06</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2020-06</mirrorOf>
            <url>http://download.eclipse.org/releases/2020-06</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2020-09</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2020-09</mirrorOf>
            <url>http://download.eclipse.org/releases/2020-09</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2020-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2020-12</mirrorOf>
            <url>http://download.eclipse.org/releases/2020-12</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2021-03</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2021-03</mirrorOf>
            <url>http://download.eclipse.org/releases/2021-03</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2021-06</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2021-06</mirrorOf>
            <url>http://download.eclipse.org/releases/2021-06</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2021-09</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2021-09</mirrorOf>
            <url>http://download.eclipse.org/releases/2021-09</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2021-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2021-12</mirrorOf>
            <url>http://download.eclipse.org/releases/2021-12</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2022-03</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2022-03</mirrorOf>
            <url>http://download.eclipse.org/releases/2022-03</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        
        <!-- Babel -->
        <mirror>
            <id>faktorzehn-babel-2018-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2018-12</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.17.1/2018-12</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2019-06</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2019-06</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.17.0/2019-06/</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2019-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2019-12</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.17.1/2019-12</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2020-06</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2020-06</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.18.0/2020-06</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2020-09</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2020-09</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.18.1/2020-09</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2020-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2020-12</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.18.2/2020-12</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2021-03</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2021-03</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.18.3/2021-03</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2021-06</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2021-06</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.19.0/2021-06</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2021-09</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2021-09</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.19.1/2021-09</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-babel-2021-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2021-12</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.19.2/2021-12/</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>tycho-snapshots</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>tycho-snapshots</id>
                    <url>https://repo.eclipse.org/content/repositories/tycho-snapshots/
                    </url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>tycho-snapshots</activeProfile>
    </activeProfiles>

</settings>
