<settings>
    <mirrors>
    
        <!-- Egit -->
        <mirror>
            <id>faktorzehn-egit-5.3</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/egit/updates-5.3</mirrorOf>
            <url>https://archive.eclipse.org/egit/updates-5.3</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-egit-5.4</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/egit/updates-5.4</mirrorOf>
            <url>https://archive.eclipse.org/egit/updates-5.4</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>

        <!-- SDK -->
        <mirror>
            <id>faktorzehn-2023-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2023-12</mirrorOf>
            <url>http://download.eclipse.org/releases/2023-12</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2024-03</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2024-03</mirrorOf>
            <url>http://download.eclipse.org/releases/2024-03</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2024-06</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2024-06</mirrorOf>
            <url>http://download.eclipse.org/releases/2024-06</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2024-09</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2024-09</mirrorOf>
            <url>http://download.eclipse.org/releases/2024-09</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2024-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2024-12</mirrorOf>
            <url>http://download.eclipse.org/releases/2024-12</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
        <mirror>
            <id>faktorzehn-2025-03</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/2025-03</mirrorOf>
            <url>http://download.eclipse.org/releases/2025-03</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>

        <!-- Babel -->
        <mirror>
            <id>faktorzehn-babel-2022-12</id>
            <mirrorOf>https://update.faktorzehn.org/p2repositories/babel/2022-12</mirrorOf>
            <url>https://archive.eclipse.org/technology/babel/update-site/R0.20.0/2022-12</url>
            <layout>p2</layout>
            <mirrorOfLayouts>p2</mirrorOfLayouts>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>tycho-snapshots</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>tycho-snapshots</id>
                    <url>https://repo.eclipse.org/content/repositories/tycho-snapshots/
                    </url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>tycho-snapshots</activeProfile>
    </activeProfiles>

</settings>
