<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="facadeHelpers" name="%_UI_FacadeHelpers_extensionpoint" schema="schema/facadeHelpers.exsd" />

  <extension point="org.eclipse.emf.codegen.facadeHelpers">
    <facadeHelper class="org.eclipse.emf.codegen.merge.java.facade.ast.ASTFacadeHelper"/>
  </extension>

</plugin>