<?xml version="1.0" encoding="UTF-8"?>
<cruisecontrol>
  <property name="workdir" value="checkout"/>
  <property name="mainbuildfile" value="build-faktorips.xml"/>
  <property name="logdir" value="logs"/>
  <property name="cvsroot" value="/usr/local/cvsroot"/>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.util-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.util">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <cvs module="org.faktorips.util" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="util"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/org.faktorips.util/build/logs"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.valuetypes-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.valuetypes">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <buildstatus logdir="${logdir}/org.faktorips.util"/>
      <cvs module="org.faktorips.valuetypes" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="valuetypes"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/org.faktorips.valuetypes/build/logs"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.dtflcommon-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.dtflcommon">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <buildstatus logdir="${logdir}/org.faktorips.valuetypes"/>
      <buildstatus logdir="${logdir}/org.faktorips.util"/>
      <cvs module="org.faktorips.dtflcommon" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="dtflcommon"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/org.faktorips.dtflcommon/build/logs"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.runtime-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.runtime">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <buildstatus logdir="${logdir}/org.faktorips.valuetypes"/>
      <buildstatus logdir="${logdir}/org.faktorips.util"/>
      <cvs module="org.faktorips.runtime" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="runtime"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/org.faktorips.runtime/build/logs"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.fl-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.fl">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <buildstatus logdir="${logdir}/org.faktorips.dtflcommon"/>
      <cvs module="org.faktorips.fl" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="fl"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/org.faktorips.fl/build/logs"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.devtools.core-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.devtools.core">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <buildstatus logdir="${logdir}/org.faktorips.fl"/>
      <cvs module="org.faktorips.devtools.core" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="devtools.core"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/org.faktorips.devtools.core/build/logs"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.devtools.stdbuilder-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.devtools.stdbuilder">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <buildstatus logdir="${logdir}/org.faktorips.fl"/>
      <buildstatus logdir="${logdir}/org.faktorips.runtime"/>
      <buildstatus logdir="${logdir}/org.faktorips.devtools.core"/>
      <cvs module="org.faktorips.devtools.stdbuilder" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="devtools.stdbuilder"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/org.faktorips.devtools.stdbuilder/build/logs"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.devtools.core.ui-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.devtools.core.ui">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <buildstatus logdir="${logdir}/org.faktorips.devtools.core"/>
      <cvs module="org.faktorips.devtools.core.ui" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="devtools.core.ui"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/org.faktorips.devtools.core.ui/build/logs"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.devtools.ant-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.devtools.ant">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <cvs module="org.faktorips.devtools.ant" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="devtools.ant"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/${project.name}/scripts/"/>
    </log>
  </project>
  <!--=====================================================-->
  <!--Project definition: org.faktorips.pluginbuilder-->
  <!--=====================================================-->
  <project buildafterfailed="false" name="org.faktorips.pluginbuilder">
    <listeners>
      <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
    </listeners>
    <bootstrappers/>
    <modificationset>
      <buildstatus logdir="${logdir}/org.faktorips.util"/>
      <buildstatus logdir="${logdir}/org.faktorips.valuetypes"/>
      <buildstatus logdir="${logdir}/org.faktorips.dtflcommon"/>
      <buildstatus logdir="${logdir}/org.faktorips.runtime"/>
      <buildstatus logdir="${logdir}/org.faktorips.fl"/>
      <buildstatus logdir="${logdir}/org.faktorips.devtools.core"/>
      <buildstatus logdir="${logdir}/org.faktorips.devtools.stdbuilder"/>
      <buildstatus logdir="${logdir}/org.faktorips.devtools.core.ui"/>
      <buildstatus logdir="${logdir}/org.faktorips.devtools.ant"/>
      <cvs module="org.faktorips.pluginbuilder" cvsroot="${cvsroot}"/>
    </modificationset>
    <schedule interval="60">
      <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="pluginbuilder.faktorips"/>
    </schedule>
    <log logdir="${logdir}/${project.name}/">
      <merge dir="${workdir}/../pluginbuilder_tmp/org.faktorips.pluginbuilder/results/testresults/xml" pattern="*test.xml"/>
    </log>
  </project>
</cruisecontrol>