<?xml version="1.0" encoding="UTF-8"?>
<!--======================================================================================================-->
<!--Cruise Control configuration for all faktorips projects and eclipse features-->
<!--note that this file could be re-generated based on the project definition in-->
<!--'faktorips.projects.xml', using the ant script './generate.cc.config.xml'-->
<!--======================================================================================================-->
<cruisecontrol>
    <property name="workdir" value="checkout"/>
    <property name="mainbuildfile" value="build-faktorips.xml"/>
    <property name="logdir" value="logs"/>
    <property name="cvsroot" value="/usr/local/cvsroot"/>
    <property name="buildresultsurl" value="http://www.faktorzehn.org/cruisecontrol/buildresults"/>
    <property name="htmlemail.mailhost" value="62.245.204.82"/>
    <property name="htmlemail.returnaddress" value="cruise@faktorips.org"/>
    <property name="htmlemail.xsldir" value="/opt/cc/webapps/cruisecontrol/xsl/"/>
    <property name="htmlemail.css" value="/opt/cc/docs/cruisecontrol.css"/>
    <property name="htlmemail.reportWhenFixed.address" value="faktorips-devel@faktorzehn.de"/>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.util-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.util">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <cvs module="org.faktorips.util" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="util"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.util/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.valuetypes-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.valuetypes">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.util"/>
            <cvs module="org.faktorips.valuetypes" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="valuetypes"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.valuetypes/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.valuetypes.java5-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.valuetypes.java5">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.util"/>
            <cvs module="org.faktorips.valuetypes.java5" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="valuetypes.java5"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.valuetypes.java5/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.dtflcommon-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.dtflcommon">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.valuetypes"/>
            <buildstatus logdir="${logdir}/org.faktorips.util"/>
            <cvs module="org.faktorips.dtflcommon" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="dtflcommon"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.dtflcommon/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.runtime-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.runtime">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.valuetypes"/>
            <buildstatus logdir="${logdir}/org.faktorips.util"/>
            <cvs module="org.faktorips.runtime" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="runtime"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.runtime/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.runtime.java5-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.runtime.java5">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.valuetypes.java5"/>
            <buildstatus logdir="${logdir}/org.faktorips.util"/>
            <cvs module="org.faktorips.runtime.java5" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="runtime.java5"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.runtime.java5/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.fl-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.fl">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.dtflcommon"/>
            <cvs module="org.faktorips.fl" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="fl"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.fl/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.devtools.core-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.devtools.core">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.fl"/>
            <cvs module="org.faktorips.devtools.core" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="devtools.core"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.devtools.core/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.devtools.stdbuilder-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.devtools.stdbuilder">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.fl"/>
            <buildstatus logdir="${logdir}/org.faktorips.runtime"/>
            <buildstatus logdir="${logdir}/org.faktorips.devtools.core"/>
            <cvs module="org.faktorips.devtools.stdbuilder" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="devtools.stdbuilder"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.devtools.stdbuilder/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.devtools.core.ui-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.devtools.core.ui">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.devtools.core"/>
            <cvs module="org.faktorips.devtools.core.ui" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="devtools.core.ui"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/org.faktorips.devtools.core.ui/build/logs"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.devtools.ant-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.devtools.ant">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <cvs module="org.faktorips.devtools.ant" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="devtools.ant"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/${project.name}/scripts/"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.uml-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.uml">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <cvs module="org.faktorips.uml" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="60">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="uml"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/${project.name}/scripts/"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.pluginbuilder-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.pluginbuilder">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.util"/>
            <buildstatus logdir="${logdir}/org.faktorips.valuetypes"/>
            <buildstatus logdir="${logdir}/org.faktorips.dtflcommon"/>
            <buildstatus logdir="${logdir}/org.faktorips.runtime"/>
            <buildstatus logdir="${logdir}/org.faktorips.fl"/>
            <buildstatus logdir="${logdir}/org.faktorips.devtools.core"/>
            <buildstatus logdir="${logdir}/org.faktorips.devtools.stdbuilder"/>
            <buildstatus logdir="${logdir}/org.faktorips.devtools.core.ui"/>
            <buildstatus logdir="${logdir}/org.faktorips.devtools.ant"/>
            <cvs module="org.faktorips.pluginbuilder" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="300">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="pluginbuilder.faktorips">
                <jvmarg arg="-Xmx1024m"/>
            </ant>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/../pluginbuilder_tmp/org.faktorips.pluginbuilder/results/testresults/xml" pattern="*test.xml"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
            <antpublisher buildfile="${mainbuildfile}" uselogger="true" usedebug="false" target="copy.artifacts.pluginbuilder.faktorips">
                <property name="ccProjectDir" value="${logdir}/${project.name}"/>
                <property name="workspaceName" value="workspace"/>
            </antpublisher>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.integrationtest-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.integrationtest">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.pluginbuilder"/>
            <cvs module="org.faktorips.integrationtest" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="300">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="pluginbuilder.integrationtest"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/../pluginbuilder_tmp/org.faktorips.pluginbuilder/workspace_integrationtest/org.faktorips.integrationtest/results/xml" pattern="*Test.xml"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
            <antpublisher buildfile="${mainbuildfile}" uselogger="true" usedebug="false" target="copy.artifacts.pluginbuilder.faktorips">
                <property name="ccProjectDir" value="${logdir}/${project.name}"/>
                <property name="workspaceName" value="workspace_integrationtest"/>
            </antpublisher>
        </publishers>
    </project>
    <!--=====================================================-->
    <!--Project definition: org.faktorips.integrationtest.java5-->
    <!--=====================================================-->
    <project buildafterfailed="false" name="org.faktorips.integrationtest.java5">
        <listeners>
            <currentbuildstatuslistener file="${logdir}/${project.name}/buildStatus.txt"/>
        </listeners>
        <bootstrappers/>
        <modificationset>
            <buildstatus logdir="${logdir}/org.faktorips.pluginbuilder"/>
            <cvs module="org.faktorips.integrationtest.java5" cvsroot="${cvsroot}"/>
        </modificationset>
        <schedule interval="300">
            <ant usedebug="false" uselogger="true" buildfile="${mainbuildfile}" target="pluginbuilder.integrationtest.java5"/>
        </schedule>
        <log logdir="${logdir}/${project.name}/">
            <merge dir="${workdir}/../pluginbuilder_tmp/org.faktorips.pluginbuilder/workspace_integrationtest_java5/org.faktorips.integrationtest.java5/results/xml" pattern="*Test.xml"/>
        </log>
        <publishers>
            <htmlemail buildresultsurl="${buildresultsurl}/${project.name}" mailhost="${htmlemail.mailhost}" username="" password="" returnaddress="${htmlemail.returnaddress}" skipusers="false" spamwhilebroken="false" returnname="faktorips-buildqueue" subjectprefix="[CC ${project.name}]" reportsuccess="always" xsldir="${htmlemail.xsldir}" css="${htmlemail.css}">
                <map alias="ortmann" address="jan.ortmann@faktorzehn.de"/>
                <map alias="erzberger" address="peter.erzberger@faktorzehn.de"/>
                <map alias="hohenberger" address="daniel.hohenberger@faktorzehn.de"/>
                <map alias="weickmann" address="alexander.weickmann@faktorzehn.de"/>
                <map alias="ortmann2" address="joerg.ortmann@faktorzehn.de"/>
                <failure reportWhenFixed="true" address="jan.ortmann@faktorzehn.de,peter.erzberger@faktorzehn.de,daniel.hohenberger@faktorzehn.de,alexander.weickmann@faktorzehn.de,joerg.ortmann@faktorzehn.de"/>
            </htmlemail>
            <antpublisher buildfile="${mainbuildfile}" uselogger="true" usedebug="false" target="copy.artifacts.pluginbuilder.faktorips">
                <property name="ccProjectDir" value="${logdir}/${project.name}"/>
                <property name="workspaceName" value="workspace_integrationtest_java5"/>
            </antpublisher>
        </publishers>
    </project>
</cruisecontrol>