<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=navigate">
         <menu
               icon="icons/jumpToSourceCode.gif"
               label="%org.faktorips.devtools.stdbuilder.ui.dynamicmenus.jumpToSourceCodeMenu">
            <dynamic
                  class="org.faktorips.devtools.stdbuilder.ui.dynamicmenus.JumpToSourceCodeDynamicMenuContribution"
                  id="org.faktorips.devtools.stdbuilder.ui.dynamicmenus.jumpToSourceCode">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <adapt
                           type="org.faktorips.devtools.core.model.ipsobject.IIpsSrcFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.faktorips.devtools.stdbuilder.ui.commands.NoSourceCodeFound"
            name="%org.faktorips.devtools.stdbuilder.ui.commands.NoSourceCodeFound">
      </command>
   </extension>

</plugin>
