<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=jumpToSourceCode">
         <menu
               icon="icons/jumpToSourceCode.gif"
               id="org.faktorips.devtools.stdbuilder.ui.dynamicmenus.jumpToSourceCodeMenu"
               label="%org.faktorips.devtools.stdbuilder.ui.dynamicmenus.jumpToSourceCodeMenu">
            <dynamic
                  class="org.faktorips.devtools.stdbuilder.ui.dynamicmenus.JumpToSourceCodeDynamicMenuContribution"
                  id="org.faktorips.devtools.stdbuilder.ui.dynamicmenus.popupJumpToSourceCode">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <adapt
                           type="org.faktorips.devtools.core.model.ipsobject.IIpsSrcFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.faktorips.devtools.core.ui.editors.enumtype.enumTypeEditorPage.toolbar?after=jumpToSourceCode">
         <command
               commandId="org.faktorips.devtools.stdbuilder.ui.commands.OpenJumpToSourceCodeContextMenu"
               icon="icons/jumpToSourceCode.gif"
               label="%org.faktorips.devtools.stdbuilder.ui.extensions.OpenJumpToSourceCodeContextMenu_label"
               style="pulldown"
               tooltip="%org.faktorips.devtools.stdbuilder.ui.extensions.OpenJumpToSourceCodeContextMenu_tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.faktorips.devtools.core.ui.editors.pctype.policyCmptTypeEditorPage.toolbar?after=jumpToSourceCode">
         <command
               commandId="org.faktorips.devtools.stdbuilder.ui.commands.OpenJumpToSourceCodeContextMenu"
               icon="icons/jumpToSourceCode.gif"
               label="%org.faktorips.devtools.stdbuilder.ui.extensions.OpenJumpToSourceCodeContextMenu_label"
               style="pulldown"
               tooltip="%org.faktorips.devtools.stdbuilder.ui.extensions.OpenJumpToSourceCodeContextMenu_tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.faktorips.devtools.core.ui.editors.productcmpttype.productCmptTypeEditorPage.toolbar?after=jumpToSourceCode">
         <command
               commandId="org.faktorips.devtools.stdbuilder.ui.commands.OpenJumpToSourceCodeContextMenu"
               icon="icons/jumpToSourceCode.gif"
               label="%org.faktorips.devtools.stdbuilder.ui.extensions.OpenJumpToSourceCodeContextMenu_label"
               style="pulldown"
               tooltip="%org.faktorips.devtools.stdbuilder.ui.extensions.OpenJumpToSourceCodeContextMenu_tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.faktorips.devtools.core.ui.editors.testcasetype.testCaseTypeEditorPage.toolbar?after=jumpToSourceCode">
         <command
               commandId="org.faktorips.devtools.stdbuilder.ui.commands.OpenJumpToSourceCodeContextMenu"
               icon="icons/jumpToSourceCode.gif"
               label="%org.faktorips.devtools.stdbuilder.ui.extensions.OpenJumpToSourceCodeContextMenu_label"
               style="pulldown"
               tooltip="%org.faktorips.devtools.stdbuilder.ui.extensions.OpenJumpToSourceCodeContextMenu_tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.faktorips.devtools.stdbuilder.ui.commands.OpenJumpToSourceCodeContextMenu">
         <dynamic
               class="org.faktorips.devtools.stdbuilder.ui.dynamicmenus.JumpToSourceCodeDynamicMenuContribution"
               id="org.faktorips.devtools.stdbuilder.ui.dynamicmenus.editorJumpToSourceCode">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.faktorips.devtools.stdbuilder.ui.commands.NoSourceCodeFound"
            name="%org.faktorips.devtools.stdbuilder.ui.commands.NoSourceCodeFound">
      </command>
      <command
            defaultHandler="org.faktorips.devtools.stdbuilder.ui.commands.OpenJumpToSourceCodeContextMenuHandler"
            id="org.faktorips.devtools.stdbuilder.ui.commands.OpenJumpToSourceCodeContextMenu"
            name="%org.faktorips.devtools.stdbuilder.ui.commands.OpenJumpToSourceCodeContextMenu">
      </command>
   </extension>

</plugin>
