<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!--
  Extension points
-->
   <extension-point id="artefactbuilderset" name="%artefactbuildersetname" schema="schema/artefactbuilderset.exsd"/>
   <extension-point id="objectExtensionProperty" name="ObjectExtensionProperty" schema="schema/objectExtensionProperty.exsd"/>
   <extension-point id="datatypeDefinition" name="DatatypeDefinition" schema="schema/datatypeDefinition.exsd"/>
   <extension-point id="faktorIpsFeatureVersionManager" name="Faktor-IPS Feature Version Manager" schema="schema/faktorIpsFeatureVersionManager.exsd"/>
   <extension-point id="ipsMigrationOperation" name="ipsMigrationOperation" schema="schema/ipsMigrationOperation.exsd"/>
   <extension-point id="loggingFrameworkConnector" name="Logging Framework Connector" schema="schema/loggingFrameworkConnector.exsd"/>
   <extension-point id="ipsobjecttype" name="ipsObjectType" schema="schema/ipsobjecttype.exsd"/>
   <extension-point id="flFunctionResolverFactory" name="factory for formula language function resolvers" schema="schema/flFunctionResolverFactory.exsd"/>
   <extension-point id="customValidation" name="Custom Validation" schema="schema/customValidation.exsd"/>
   <extension-point id="productComponentNamingStrategy" name="Product Component Naming Strategy" schema="schema/productComponentNamingStrategy.exsd"/>
   <extension-point id="ipsObjectPathContainerType" name="IPS Object Path Container Type" schema="schema/ipsObjectPathContainerType.exsd"/>
   <extension-point id="deepCopyOperation" name="Deep Copy Operation" schema="schema/deepCopyOperation.exsd"/>
   <extension-point id="preSaveProcessor" name="Pre Save Processor" schema="schema/preSaveProcessor.exsd"/>
   <extension-point id="flIdentifierFilterExtension" name="Identifier Filter" schema="schema/flIdentifierFilterExtension.exsd"/>
   <extension-point id="versionProvider" name="Version Provider" schema="schema/versionProvider.exsd"/>
   <extension-point id="ipsModelPreferences" name="Ips Model Preferences" schema="schema/ipsModelPreferences.exsd"/>
   <extension-point id="classLoaderProviderFactory" name="Classpath Provider" schema="schema/classLoaderProviderFactory.exsd"/>
   <extension-point id="workspaceInteractions" name="Workspace Interactions" schema="schema/workspaceInteractions.exsd"/>
   <extension-point id="addIpsNature" name="Add IPS-Nature" schema="schema/addIpsNature.exsd"/>
   <extension-point id="productReleaseExtension" name="Release Deployment Extension" schema="schema/productReleaseExtension.exsd"/>
   
<!-- 
    Extensions to the Java perspective
  -->
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">            
       <classpathVariableInitializer
             class="org.faktorips.devtools.model.plugin.FaktorIpsClasspathVariableInitializer"
             deprecated="Use container org.faktorips.devtools.model.ipsClasspathContainer instead"
             variable="FAKTORIPS_VALUETYPES_JAVA5"/>                           
       <classpathVariableInitializer
             class="org.faktorips.devtools.model.plugin.FaktorIpsClasspathVariableInitializer"
             deprecated="Use container org.faktorips.devtools.model.ipsClasspathContainer instead"
             variable="FAKTORIPS_VALUETYPES_JAVA5_SRC"/>                           
       <classpathVariableInitializer
             class="org.faktorips.devtools.model.plugin.FaktorIpsClasspathVariableInitializer"
             deprecated="Use container org.faktorips.devtools.model.ipsClasspathContainer instead"
             variable="FAKTORIPS_RUNTIME_JAVA5"/>                           
       <classpathVariableInitializer
             class="org.faktorips.devtools.model.plugin.FaktorIpsClasspathVariableInitializer"
             deprecated="Use container org.faktorips.devtools.model.ipsClasspathContainer instead"
             variable="FAKTORIPS_RUNTIME_JAVA5_SRC"/>                           
   </extension>
  

<!-- 
    Nature and Builders
  -->
   <extension
         id="ipsnature"
         name="FaktorIPS-Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.faktorips.devtools.model.internal.ipsproject.IpsProject$EclipseProjectNature">
            <parameter
                  name="installBuilder"
                  value="true">
            </parameter>
         </run>
      </runtime>
      <builder
            id="org.faktorips.devtools.model.ipsbuilder">
      </builder>
   </extension>
   <extension
         id="ipsbuilder"
         name="FaktorIPS-Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.faktorips.devtools.model.builder.IpsBuilder$EclipseIpsBuilder">
         </run>
      </builder>
   </extension>
   
    
<!-- 
    Default Datatypes
-->
   <extension point="org.faktorips.devtools.model.datatypeDefinition">
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.StringDatatype"
            helperClass="org.faktorips.codegen.dthelpers.StringHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.IntegerDatatype"
            helperClass="org.faktorips.codegen.dthelpers.IntegerHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.LongDatatype"
            helperClass="org.faktorips.codegen.dthelpers.LongHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.BooleanDatatype"
            helperClass="org.faktorips.codegen.dthelpers.BooleanHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.DateDatatype"
            helperClass="org.faktorips.codegen.dthelpers.DateHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.GregorianCalendarAsDateDatatype"
            helperClass="org.faktorips.codegen.dthelpers.GregorianCalendarAsDateHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.DecimalDatatype"
            helperClass="org.faktorips.codegen.dthelpers.DecimalHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.MoneyDatatype"
            helperClass="org.faktorips.codegen.dthelpers.MoneyHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.classtypes.DoubleDatatype"
            helperClass="org.faktorips.codegen.dthelpers.DoubleHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.PrimitiveBooleanDatatype"
            helperClass="org.faktorips.codegen.dthelpers.PrimitiveBooleanHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.PrimitiveIntegerDatatype"
            helperClass="org.faktorips.codegen.dthelpers.PrimitiveIntegerHelper"/>
      <datatypeDefinition 
            datatypeClass="org.faktorips.datatype.PrimitiveLongDatatype"
            helperClass="org.faktorips.codegen.dthelpers.PrimitiveLongHelper"/>
      <datatypeDefinition
            datatypeClass="org.faktorips.datatype.classtypes.BigDecimalDatatype"
            helperClass="org.faktorips.codegen.dthelpers.BigDecimalHelper">
      </datatypeDefinition>
      <datatypeDefinition
            datatypeClass="org.faktorips.datatype.joda.LocalDateDatatype"
            helperClass="org.faktorips.codegen.dthelpers.joda.LocalDateHelper">
      </datatypeDefinition>
      <datatypeDefinition
            datatypeClass="org.faktorips.datatype.joda.LocalTimeDatatype"
            helperClass="org.faktorips.codegen.dthelpers.joda.LocalTimeHelper">
      </datatypeDefinition>
      <datatypeDefinition
            datatypeClass="org.faktorips.datatype.joda.LocalDateTimeDatatype"
            helperClass="org.faktorips.codegen.dthelpers.joda.LocalDateTimeHelper">
      </datatypeDefinition>
      <datatypeDefinition
            datatypeClass="org.faktorips.datatype.joda.MonthDayDatatype"
            helperClass="org.faktorips.codegen.dthelpers.joda.MonthDayHelper">
      </datatypeDefinition>
      <datatypeDefinition
            datatypeClass="org.faktorips.datatype.classtypes.CurrencyDatatype"
            helperClass="org.faktorips.codegen.dthelpers.CurrencyHelper">
      </datatypeDefinition>
   </extension>

<!-- 
  Markers
-->
   <extension point="org.eclipse.core.resources.markers" id="problemmarker" name="%problemmarker.name"> 
      <persistent value="true"/> 
      <super type="org.eclipse.core.resources.problemmarker"/> 
   </extension> 


<!--
    Problem View Filter (available since Eclipse 3.2)
-->

<!-- 
  Product-Definition-Extensions
-->
   

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <!-- the ipsSrcFile content-type will be used to open the standard text editor
           if the ips object editor is not available, e.g. ips src file outside ips package -->
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            id="ipsSrcFile"
            name="IPS Source File"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipsproject"
            id="ipsProject"
            name="IPS-Project"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipspolicycmpttype"
            id="policyCmptType"
            name="Policy Component Type"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipsproductcmpttype"
            id="productCmptType"
            name="Product Component Type"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipsproduct"
            id="productComponent"
            name="Product Component"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstemplate"
            id="productComponentTemplate"
            name="Product Component Template"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstablestructure"
            id="tableStructure"
            name="Table Structure"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstablecontents"
            id="tableContents"
            name="Table Contents"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstestcase"
            id="testCase"
            name="Test Case"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstestcasetype"
            id="testCaseType"
            name="TestCase Type"
            priority="normal"/>
   </extension>


<!-- Extensions for running and debugging ips tests -->
   <extension
         id="javaUtilLoggingConnector"
         name="Java Util Logging Connector"
         point="org.faktorips.devtools.model.loggingFrameworkConnector">
      <loggingFrameworkConnector class="org.faktorips.devtools.model.builder.JavaUtilLoggingFrameworkConnector"/>
   </extension>
   <extension
         id="log4jLoggingConnector"
         name="Log4j Logging Connector"
         point="org.faktorips.devtools.model.loggingFrameworkConnector">
      <loggingFrameworkConnector class="org.faktorips.devtools.model.builder.Log4jLoggingFrameworkConnector"/>
   </extension>
   
   <extension
         id="excelFunctionResolverFactory"
         name="function resolver factory for an excel function resolver"
         point="org.faktorips.devtools.model.flFunctionResolverFactory">
         <functionResolverFactory
               class="org.faktorips.devtools.model.fl.ExcelFunctionsFunctionResolverFactory"
               sortorder="0"/>
         <functionResolverFactory
               class="org.faktorips.devtools.model.fl.AssociationNavigationFunctionsResolverFactory"
               sortorder="1">
         </functionResolverFactory>
         <functionResolverFactory
               class="org.faktorips.devtools.model.fl.TableSingleContentFunctionResolverFactory"
               sortorder="2">
         </functionResolverFactory>
   </extension>
   
   <extension
         point="org.faktorips.devtools.model.productComponentNamingStrategy">
      <productComponentNamingStrategy
            factoryClass="org.faktorips.devtools.model.productcmpt.DateBasedProductCmptNamingStrategyFactory">
      </productComponentNamingStrategy>
      <productComponentNamingStrategy
            factoryClass="org.faktorips.devtools.model.internal.productcmpt.NoVersionIdProductCmptNamingStrategyFactory">
      </productComponentNamingStrategy>
   </extension>
   
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.faktorips.devtools.model.plugin.IpsClasspathContainerInitializer"
            id="org.faktorips.devtools.model.ipsClasspathContainer">
      </classpathContainerInitializer>
   </extension>
   
   <extension
         point="org.faktorips.devtools.model.ipsObjectPathContainerType">
      <containerType
            class="org.faktorips.devtools.model.internal.ipsproject.jdtcontainer.IpsContainer4JdtClasspathContainerType"
            typeId="JDTClasspathContainer">
      </containerType>
   </extension>
   
   <extension
         point="org.faktorips.devtools.model.versionProvider">
      <versionProvider
            class="org.faktorips.devtools.model.internal.BundleVersionProviderFactory"
            id="org.faktorips.devtools.model.bundleVersionProvider">
      </versionProvider>
   </extension>
</plugin>
