<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!--
	Extension points
-->
   <extension-point id="artefactbuilderset" name="%artefactbuildersetname" schema="schema/artefactbuilderset.exsd"/>
   <extension-point id="objectExtensionProperty" name="ObjectExtensionProperty" schema="schema/objectExtensionProperty.exsd"/>
   <extension-point id="datatypeDefinition" name="DatatypeDefinition" schema="schema/datatypeDefinition.exsd"/>
   <extension-point id="externalTableFormat" name="ExternalTableFormat" schema="schema/externalTableFormat.exsd"/>
   <extension-point id="externalValueConverter" name="ExternalValueConverter" schema="schema/externalValueConverter.exsd"/>
   <extension-point id="faktorIpsFeatureVersionManager" name="FaktorIpsFeatureVersionManager" schema="schema/faktorIpsFeatureVersionManager.exsd"/>
   <extension-point id="loggingFrameworkConnector" name="Logging Framework Connector" schema="schema/loggingFrameworkConnector.exsd"/>
   <extension-point id="ipsobjecttype" name="ipsObjectType" schema="schema/ipsobjecttype.exsd"/>
   <extension-point id="flFunctionResolverFactory" name="factory for formula language function resolvers" schema="schema/flFunctionResolverFactory.exsd"/>
   
<!-- 
    Product Definition Perspective
  -->

<!--
	Action sets
-->
   

   

<!-- 
    Extensions to the Java perspective
  -->
  
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">            
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_INCLUDED_COMMONS_LANG"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_UTIL"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_UTIL_SRC"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_VALUETYPES"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_VALUETYPES_SRC"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_RUNTIME"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_RUNTIME_SRC"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                         
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_VALUETYPES_JAVA5"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_VALUETYPES_JAVA5_SRC"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_RUNTIME_JAVA5"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_RUNTIME_JAVA5_SRC"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
   </extension>

<!-- 
    Nature and Builders
  -->
   <extension
         id="ipsnature"
         name="FaktorIPS-Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.faktorips.devtools.core.internal.model.ipsproject.IpsProject">
            <parameter
                  name="installBuilder"
                  value="true">
            </parameter>
         </run>
      </runtime>
      <builder
            id="org.faktorips.devtools.core.ipsbuilder">
      </builder>
   </extension>
   <extension
         id="ipsbuilder"
         name="FaktorIPS-Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.faktorips.devtools.core.builder.IpsBuilder">
         </run>
      </builder>
   </extension>
   
<!-- 
    Views
  -->

<!-- 
    Editors
  -->

<!-- 
    Wizards
  -->



<!-- 
    Preference Pages
  -->
    
<!-- 
    Property Pages
    
    Note that the project property page has to be registered for IProject as well as IJavaProject, because the Package Explorer
    shows IJavaProjects while the Resource Navigator shows IProjects.
    
  -->
    
<!-- 
    Default Datatypes
  -->
   <extension point="org.faktorips.devtools.core.datatypeDefinition">
      <datatypeDefinition 
      			datatypeClass="org.faktorips.datatype.classtypes.StringDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.StringHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.IntegerDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.IntegerHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.LongDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.LongHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.BooleanDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.BooleanHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.DateDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.DateHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.GregorianCalendarAsDateDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.GregorianCalendarAsDateHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.DecimalDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.DecimalHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.MoneyDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.MoneyHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.DoubleDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.DoubleHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.PrimitiveBooleanDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.PrimitiveBooleanHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.PrimitiveIntegerDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.PrimitiveIntegerHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.PrimitiveLongDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.PrimitiveLongHelper"/>
      <datatypeDefinition
            datatypeClass="org.faktorips.datatype.classtypes.BigDecimalDatatype"
            helperClass="org.faktorips.codegen.dthelpers.BigDecimalHelper">
      </datatypeDefinition>
   </extension>

<!-- 
  Markers
-->
   <extension point="org.eclipse.core.resources.markers" id="problemmarker" name="%problemmarker.name"> 
      <persistent value="true"/> 
      <super type="org.eclipse.core.resources.problemmarker"/> 
   </extension> 

<!--
    Problem View Filter (available since Eclipse 3.2)
-->
   <extension point="org.eclipse.ui.ide.markerSupport">
      <problemFilter name="Faktor-IPS Problems" id="org.faktorips.devtools.core.problemFilter"
                enabled="true"
                scope="ON_ANY">
                <selectedType markerId="org.faktorips.devtools.core.problemmarker"/>
      </problemFilter>
   </extension>  

<!-- 
  Product-Definition-Extensions
-->
   

   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <!-- the ipsSrcFile content-type will be used to open the standard text editor
           if the ips object editor is not available, e.g. ips src file outside ips package -->
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            id="ipsSrcFile"
            name="IPS Source File"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipsproject"
            id="ipsProject"
            name="IPS-Project"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipspolicycmpttype"
            id="policyCmptType"
            name="Policy Component Type"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipsproductcmpttype"
            id="policyCmptType"
            name="Product Component Type"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipsproduct"
            id="productComponent"
            name="Product Component"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstablestructure"
            id="tableStructure"
            name="Table Structure"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstablecontents"
            id="TableContents"
            name="Table Contents"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstestcase"
            id="testCase"
            name="Test Case"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstestcasetype"
            id="testCaseType"
            name="TestCase Type"
            priority="normal"/>
   </extension>
   <extension
         id="productDefinitionTool"
         name="Faktor-IPS"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.faktorips.devtools.core.internal.application.IpsApplication"/>
      </application>
   </extension>


   <extension
         id="FaktorIPS"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.faktorips.devtools.core.productDefinitionTool"
            name="Faktor-IPS">
         <property
               name="appName"
               value="Faktor-IPS">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/FaktorIpsIcon128.gif">
         </property>
         <property
               name="aboutText"
               value="%org.faktorips.aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/FaktorIpsIcon16.gif,icons/FaktorIpsIcon32.gif">
         </property>
      </product>
   </extension>

	<!--
   <extension
         point="org.faktorips.devtools.core.faktorIpsFeatureVersionManager">
      <faktorIpsFeatureVersionManager
            class="org.faktorips.devtools.core.internal.model.versionmanager.CoreVersionManager"
            featureId="org.faktorips.feature"
            id="org.faktorips.feature.manager"
            basedOnFeatureManager=""/>
   </extension>
	-->

<!-- Extensions for running and debugging ips tests -->
   <extension
         id="javaUtilLoggingConnector"
         name="Java Util Logging Connector"
         point="org.faktorips.devtools.core.loggingFrameworkConnector">
      <loggingFrameworkConnector class="org.faktorips.devtools.core.builder.JavaUtilLoggingFrameworkConnector"/>
   </extension>
   <extension
         id="log4jLoggingConnector"
         name="Log4j Logging Connector"
         point="org.faktorips.devtools.core.loggingFrameworkConnector">
      <loggingFrameworkConnector class="org.faktorips.devtools.core.builder.Log4jLoggingFrameworkConnector"/>
   </extension>
   
   <extension
         id="excelFunctionResolverFactory"
         name="function resolver factory for an excel function resolver"
         point="org.faktorips.devtools.core.flFunctionResolverFactory">
         <functionResolverFactory class="org.faktorips.devtools.core.ExcelFunctionsFunctionResolverFactory"/>
   </extension>
   
   <extension
         point="org.faktorips.devtools.core.faktorIpsFeatureVersionManager">
      <faktorIpsFeatureVersionManager
            class="org.faktorips.devtools.core.internal.migration.CoreVersionManager"
            featureId="org.faktorips.feature"
            id="org.faktorips.feature.versionmanagerv2"
            basedOnFeatureManager=""/>
   </extension>
   <extension
         point="org.faktorips.devtools.core.ipsobjecttype">
    	<ipsobjecttype
            class="org.faktorips.devtools.core.model.bf.BusinessFunctionIpsObjectType">
		</ipsobjecttype>
	</extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.faktorips.devtools.core.internal.model.adapter.IIpsSrcFileWrapper"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsSrcFileWrapperAdapterFactory">
         <adapter
               type="org.faktorips.devtools.core.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.core.model.IIpsElement">
         </adapter>
         <adapter
               type="org.faktorips.devtools.core.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.core.model.type.IType">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.core.model.ipsobject.IIpsObjectPartContainer"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsObjectPartContainerAdapterFactory">
         <adapter
               type="org.faktorips.devtools.core.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.core.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.core.model.type.IType">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.faktorips.devtools.core.internal.model.adapter.ResourceAdapterFactory">
         <adapter
               type="org.faktorips.devtools.core.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.core.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.core.model.type.IType">
         </adapter>
      </factory>
   </extension>
</plugin>
