<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!--
	Extension points
-->
   <extension-point id="externalTableFormat" name="External Table Format" schema="schema/externalTableFormat.exsd"/>
   <extension-point id="externalValueConverter" name="External Value Converter" schema="schema/externalValueConverter.exsd"/>
   <extension-point id="pullUpParticipants" name="Pull Up Participants" schema="schema/pullUpParticipants.exsd"/>
   <extension-point id="productReleaseExtension" name="Release Deployment Extension" schema="schema/productReleaseExtension.exsd"/>
   <extension-point id="teamOperationsFactory" name="Team Operations Factory" schema="schema/teamOperationsFactory.exsd"/>
   <extension-point id="newProductDefinitionOperation" name="New Product Definition Operation" schema="schema/newProductDefinitionOperation.exsd"/>
   
   
<!-- 
    Extensions to the Java perspective
  -->

<!-- 
    Nature and Builders
  -->
   
<!--
    Problem View Filter (available since Eclipse 3.2)
-->
   <extension point="org.eclipse.ui.ide.markerSupport">
      <problemFilter name="Faktor-IPS Problems" id="org.faktorips.devtools.core.problemFilter"
                enabled="true"
                scope="ON_ANY">
                <selectedType markerId="org.faktorips.devtools.model.problemmarker"/>
      </problemFilter>
   </extension>  

<!-- 
  Product-Definition-Extensions
-->
   
   <extension
         id="productDefinitionTool"
         name="Faktor-IPS"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.faktorips.devtools.core.internal.application.IpsApplication"/>
      </application>
   </extension>


   <extension
         id="FaktorIPS"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.faktorips.devtools.core.productDefinitionTool"
            name="Faktor-IPS">
         <property
               name="appName"
               value="Faktor-IPS">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/org.faktorips.devtools.core/icons/fips_about.png">
         </property>
         <property
               name="aboutText"
               value="%org.faktorips.aboutText">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.faktorips.devtools.core/icons/fips_window16.png,platform:/plugin/org.faktorips.devtools.core/icons/fips_window32.png,platform:/plugin/org.faktorips.devtools.core/icons/fips_window64.png">
         </property>
         
         <property
		    name="cssTheme"
		    value="org.eclipse.e4.ui.css.theme.e4_default">
		</property>
		<property
		    name="applicationCSSResources"
		    value="platform:/plugin/org.eclipse.platform/images/">
		</property>
		<property
			name="startupForegroundColor"
			value="565656"/>
		<property
			name="startupProgressRect"
			value="27,253,500,8"/>
		<property
			name="startupMessageRect"
			value="27,264,500,20"/>
      </product>
   </extension>
   
   <extension
         point="org.faktorips.devtools.model.faktorIpsFeatureVersionManager">
      <faktorIpsFeatureVersionManager
            basedOnFeatureManager="org.faktorips.feature.versionmanagerv2"
            class="org.faktorips.devtools.core.internal.migrationextensions.IpsExtendableVersionManager"
            featureId="org.faktorips.feature"
            id="org.faktorips.feature.versionmanagerV3"
            requiredForAllProjects="true">
      </faktorIpsFeatureVersionManager>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.faktorips.devtools.model.productcmpt.IProductCmptLink"
            class="org.faktorips.devtools.core.internal.model.adapter.ProductCmptLinkAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.adapter.IIpsSrcFileWrapper"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsSrcFileWrapperAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.IIpsElement">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.type.IType">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.ipsobject.IIpsObjectPartContainer"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsObjectPartContainerAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.type.IType">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.faktorips.devtools.core.internal.model.adapter.ResourceAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.type.IType">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.IIpsElement">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.ipsobject.IIpsSrcFile"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsSrcFileAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.type.IType">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.IIpsElement"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsElementAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IFolder">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.productcmpt.IPropertyValue"
            class="org.faktorips.devtools.core.internal.model.adapter.PropertyValueAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmptGeneration">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.productcmpt.treestructure.IProductCmptStructureReference"
            class="org.faktorips.devtools.model.productcmpt.treestructure.ProductCmptStructureAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.productcmpttype.IProductCmptTypeAssociation">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmptGeneration">
         </adapter>
      </factory>
   </extension>
   
   <extension
         point="org.faktorips.devtools.model.ipsMigrationOperation">
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_2_0$Factory"
            targetVersion="3.2.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_4_0$Factory"
            targetVersion="3.4.0.rfinal">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_5$Factory"
            targetVersion="3.5.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_6_0$Factory"
            targetVersion="3.6.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_6_0_rfinal$Factory"
            targetVersion="3.6.0.rfinal">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_6_2$Factory"
            targetVersion="3.6.2">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_7_0$Factory"
            targetVersion="3.7.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_8_0$Factory"
            targetVersion="3.8.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_9_0$Factory"
            targetVersion="3.9.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_11_0$Factory"
            targetVersion="3.11.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_12_0$Factory"
            targetVersion="3.12.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_13_0$Factory"
            targetVersion="3.13.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_14_0$Factory"
            targetVersion="3.14.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_15_0$Factory"
            targetVersion="3.15.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_16_0$Factory"
            targetVersion="3.16.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_18_0$Factory"
            targetVersion="3.18.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_19_0$Factory"
            targetVersion="3.19.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_20_0$Factory"
            targetVersion="3.20.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_21_0$Factory"
            targetVersion="3.21.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_3_22_0$Factory"
            targetVersion="3.22.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_19_7_0_Factory"
            targetVersion="19.7.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_19_12_0_Factory"
            targetVersion="19.12.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_20_6_0$Factory"
            targetVersion="20.6.0">
      </migrationOperation>
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_20_12_0_Factory"
            targetVersion="20.12.0">
      </migrationOperation>
   </extension>
   <extension point="org.faktorips.devtools.model.ipsModelPreferences">
      <ipsModelPreferences provider="org.faktorips.devtools.core.internal.CoreIpsModelPreferencesProvider" />
   </extension>
   <extension point="org.faktorips.devtools.model.classLoaderProviderFactory">
      <classLoaderProviderFactory class="org.faktorips.devtools.core.internal.JavaRuntimeClassLoaderProviderFactory" />
   </extension>
</plugin>
