<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!--
	Extension points
-->
   <extension-point id="artefactbuilderset" name="%artefactbuildersetname" schema="schema/artefactbuilderset.exsd"/>
   <extension-point id="objectExtensionProperty" name="ObjectExtensionProperty" schema="schema/objectExtensionProperty.exsd"/>
   <extension-point id="datatypeDefinition" name="DatatypeDefinition" schema="schema/datatypeDefintion.exsd"/>
   
<!-- 
    Product Definition Perspective
  -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.faktorips.devtools.core.IpsProductDefinitionPerspectiveFactory"
            fixed="false"
            id="org.faktorips.devtools.core.productDefinitionPerspective"
            name="%org.faktorips.devtools.core.productDefinitionPerspective">
      </perspective>
   </extension>

<!--
	Action sets
-->
   <extension
         point="org.eclipse.ui.actionSets">

      <actionSet
            id="org.faktorips.devtools.actions.ModelingActionSet"
            label="%org.faktorips.devtools.actions.ModellingActionSet"
            visible="false">
         <action
               label="%org.faktorips.devtools.actions.OpenNewTableStructureWizardAction.label"
               icon="icons/NewTableStructureWizard.gif"
               tooltip="%org.faktorips.devtools.actions.OpenNewTableStructureWizardAction.tooltip"
               class="org.faktorips.devtools.core.ui.wizards.tablestructure.OpenNewTableStructureWizardAction"
               toolbarPath="org.faktorips.devtools"
               id="org.faktorips.devtools.actions.OpenNewTableStructureWizardAction">
         </action>
         <action
               label="%org.faktorips.devtools.actions.OpenNewPcTypeWizardAction.label"
               icon="icons/NewPolicyCmptTypeWizard.gif"
               tooltip="%org.faktorips.devtools.actions.OpenNewPcTypeWizardAction.tooltip"
               class="org.faktorips.devtools.core.ui.wizards.policycmpttype.OpenNewPcTypeWizardAction"
               toolbarPath="org.faktorips.devtools"
               id="org.faktorips.devtools.actions.OpenNewPcTypeWizardAction">
         </action>
      </actionSet>

      <actionSet
            id="org.faktorips.devtools.actions.ProductDefinitionActionSet"
            label="%org.faktorips.devtools.actions.ProductDefinitionActionSet"
            visible="false">
         <action
               class="org.faktorips.devtools.core.ui.wizards.testcase.OpenNewTestCaseWizardAction"
               icon="icons/NewTestCase.gif"
               id="org.faktorips.devtools.actions.OpenNewTestCaseWizardAction"
               label="%org.faktorips.devtools.actions.OpenNewTestCaseWizardAction.label"
               style="push"
               toolbarPath="org.faktorips.devtools"
               tooltip="%org.faktorips.devtools.actions.OpenNewTestCaseWizardAction.tooltip"/>             
         <action
               label="%org.faktorips.devtools.actions.OpenNewTableContentsWizardAction.label"
               icon="icons/NewTableContentsWizard.gif"
               tooltip="%org.faktorips.devtools.actions.OpenNewTableContentsWizardAction.tooltip"
               class="org.faktorips.devtools.core.ui.wizards.tablecontents.OpenNewTableContentsWizardAction"
               toolbarPath="org.faktorips.devtools"
               id="org.faktorips.devtools.actions.OpenNewTableContentsWizardAction">
         </action>
         <action
               class="org.faktorips.devtools.core.ui.wizards.productcmpt.OpenNewProductCmptWizardAction"
               icon="icons/NewProductCmptWizard.gif"
               id="org.faktorips.devtools.actions.OpenNewProductCmptWizardAction"
               label="%org.faktorips.devtools.actions.OpenNewProductCmptWizardAction.label"
               toolbarPath="org.faktorips.devtools"
               tooltip="%org.faktorips.devtools.actions.OpenNewProductCmptWizardAction.tooltip">
         </action>
         <action
               class="org.faktorips.devtools.core.ui.actions.ChangeWorkingDateAction"
               icon="icons/WorkingDate.gif"
               id="org.faktorips.devtools.core.ChangeWorkingDateAction"
               label="%org.faktorips.devtools.core.ChangeWorkingDateAction.label"
               toolbarPath="org.faktorips.devtools"
               tooltip="%org.faktorips.devtools.core.ChangeWorkingDateAction.tooltip"/>
      </actionSet>
   </extension>
   

<!-- 
    Extensions to the Java perspective
  -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="org.faktorips.devtools.actions.ModelingActionSet">
         </actionSet>
         <actionSet
               id="org.faktorips.devtools.actions.ProductDefinitionActionSet">
         </actionSet>
         <view
               relative="org.eclipse.jdt.ui.PackageExplorer"
               visible="false"
               relationship="stack"
               id="org.faktorips.plugin.pdexplorer">
         </view>
         <view
               relative="org.eclipse.jdt.ui.PackageExplorer"
               visible="false"
               relationship="stack"
               id="org.faktorips.plugin.pdexplorer">
         </view>
         <view
               closeable="true"
               id="org.faktorips.devtools.core.ui.views.testRunner"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               showTitle="true"
               standalone="false"
               visible="false"/>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
    	<objectContribution id="addIpsNature" objectClass="org.eclipse.jdt.core.IJavaProject">
	    	<action id="addIpsNatureAction" class="org.faktorips.devtools.core.ui.actions.AddIpsNatureAction" menubarPath="additions" label="Add IPS-Nature" enablesFor="*" />
      		<!-- <filter name="nature" value="org.eclipse.emf.codegen.jet.IJETNature"/> -->
    	</objectContribution>
  </extension>
  
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">            
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_INCLUDED_COMMONS_LANG"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_UTIL"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_UTIL_SRC"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_VALUETYPES"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_VALUETYPES_SRC"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_RUNTIME"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
       <classpathVariableInitializer                                          
          variable="FAKTORIPS_RUNTIME_SRC"                                                        
          class="org.faktorips.devtools.core.FaktorIpsClasspathVariableInitializer"/>                           
   </extension>

<!-- 
    Nature and Builders
  -->
   <extension
         id="ipsnature"
         name="FaktorIPS-Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.faktorips.devtools.core.internal.model.IpsProject">
            <parameter
                  name="installBuilder"
                  value="true">
            </parameter>
         </run>
      </runtime>
      <builder
            id="org.faktorips.devtools.core.ipsbuilder">
      </builder>
   </extension>
   <extension
         id="ipsbuilder"
         name="FaktorIPS-Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.faktorips.devtools.core.builder.IpsBuilder">
         </run>
      </builder>
   </extension>
   
<!-- 
    Views
  -->

<!-- 
    Editors
  -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.faktorips.devtools.core.ui.editors.pctype.PctEditor"
            default="true"
            extensions="ipspct"
            icon="icons/PolicyCmptType.gif"
            id="policyCmptTypeEditor"
            name="Policy Class Editor">
      </editor>
      <editor
            class="org.faktorips.devtools.core.ui.editors.productcmpt.ProductCmptEditor"
            contributorClass="org.faktorips.devtools.core.ui.editors.productcmpt.ProductCmptEditorActionContributor"
            default="true"
            extensions="ipsproduct"
            icon="icons/ProductCmpt.gif"
            id="productCmptEditor"
            name="Product Component Editor">
      </editor>
      <editor
            class="org.faktorips.devtools.core.ui.editors.tablestructure.TableStructureEditor"
            default="true"
            extensions="ipstablestructure"
            icon="icons/TableStructure.gif"
            id="tableStructureEditor"
            name="Table Structure Editor">
      </editor>
      <editor
            class="org.faktorips.devtools.core.ui.editors.tablecontents.TableContentsEditor"
            default="true"
            extensions="ipstablecontents"
            icon="icons/TableContents.gif"
            id="tableContentsEditor"
            name="Table Contents Editor">
      </editor>
      <editor
            class="org.faktorips.devtools.core.ui.editors.testcase.TestCaseEditor"
            default="true"
            extensions="ipstestcase"
            icon="icons/TestCase.gif"
            id="testCaseEditor"
            name="Test Case Editor"/>
      <editor
            default="false"
            extensions="ipstestcasetype"
            icon="icons/TestCaseType.gif"
            id="testCaseTypeEditor"
            name="Test Case Type Editor"/>      
   </extension>

<!-- 
    Wizards
  -->
    <extension
        point = "org.eclipse.ui.newWizards">
	    <category
	        id = "org.faktorips.devtools"
    	    name="FaktorIPS">
	    </category>
     	<wizard
	       id = "newPcTypeWizard"
           name = "New Policy Class"
    	   class="org.faktorips.devtools.core.ui.wizards.policycmpttype.NewPcTypeWizard"
    	   category="org.faktorips.devtools"
    	   icon="icons/NewPolicyCmptTypeWizard.gif">
    	   <description>Creates a new Policy Class</description>
    	   <selection class="org.eclipse.core.resources.IResource"/>
	    </wizard>
      <wizard
            category="org.faktorips.devtools"
            class="org.faktorips.devtools.core.ui.wizards.productcmpt.NewProductCmptWizard"
            icon="icons/NewProductCmptWizard.gif"
            id="newProductCmptWizard"
            name="New Product Component">
    	   <description>Creates a new Product Component</description>
    	   <selection class="org.eclipse.core.resources.IResource"/>
	    </wizard>
      <wizard
            category="org.faktorips.devtools"
            class="org.faktorips.devtools.core.ui.wizards.tablestructure.NewTableStructureWizard"
            icon="icons/NewTableStructureWizard.gif"
            id="newTableStructureWizard"
            name="New Tablestructure">
    	   <description>Creates a new Product Component</description>
    	   <selection class="org.eclipse.core.resources.IResource"/>
	    </wizard>
      <wizard
            category="org.faktorips.devtools"
            class="org.faktorips.devtools.core.ui.wizards.tablecontents.NewTableContentsWizard"
            icon="icons/NewTableContentsWizard.gif"
            id="newTableContentsWizard"
            name="New Table Contents">
    	   <description>Creates a new Product Component</description>
    	   <selection class="org.eclipse.core.resources.IResource"/>
	    </wizard>
    </extension>

    <extension
        point = "org.eclipse.ui.exportWizards">
     	<wizard
	       id = "tableExportWizard"
           name = "FaktorIPS table contents"
    	   class="org.faktorips.devtools.core.ui.wizards.tableexport.TableExportWizard"
    	   icon="icons/TableContents.gif">
    	   <description>Exports table contents</description>
    	   <selection class="org.eclipse.core.resources.IResource"/>
	    </wizard>
    </extension>

    <extension
        point = "org.eclipse.ui.importWizards">
     	<wizard
	       id = "tableImportWizard"
           name = "FaktorIPS table contents"
    	   class="org.faktorips.devtools.core.ui.wizards.tableimport.TableImportWizard"
    	   icon="icons/TableContents.gif">
    	   <description>Imports table contents</description>
    	   <selection class="org.eclipse.core.resources.IResource"/>
	    </wizard>
		<wizard
		   class="org.faktorips.devtools.core.ui.wizards.testcase.transform.TransformRuntimeTestCaseWizard"
		   icon="icons/ImportTestCase.gif"
		   id="transformRuntimeTestCase"
		   name="%org.faktorips.devtools.core.ui.wizards.testcase.transform.TransformRuntimeTestCaseWizard">
	 	   <description>Transform and import runtime test cases</description>
 	    </wizard>
    </extension>

<!-- 
    Preference Pages
  -->
    <extension
        point = "org.eclipse.ui.preferencePages">
        <page id="FaktorIpsPage"
        	  name="FaktorIPS"
        	  class="org.faktorips.devtools.core.ui.FaktorIpsPreferencePage">
        </page>
    </extension>
    
<!-- 
    Property Pages
    
    Note that the project property page has to be registered for IProject as well as IJavaProject, because the Package Explorer
    shows IJavaProjects while the Resource Navigator shows IProjects.
    
  -->
   <extension point="org.eclipse.ui.propertyPages"> 
        <page id="org.faktorips.projectpropertypage" 
            name="FaktorIPS" 
            objectClass="org.eclipse.core.resources.IProject" 
            class="org.faktorips.plugin.ui.IpsProjectPropertyPage"> 
         <filter
               name="nature"
               value="org.faktorips.plugin.productdefinitionnature">
         </filter>
        </page> 
    </extension> 
    
   <extension point="org.eclipse.ui.propertyPages"> 
        <page id="org.faktorips.projectpropertypage" 
            name="FaktorIPS" 
            objectClass="org.eclipse.jdt.core.IJavaProject"
            class="org.faktorips.plugin.ui.IpsProjectPropertyPage"> 
         <filter
               name="nature"
               value="org.faktorips.plugin.productdefinitionnature">
         </filter>
        </page> 
    </extension> 

<!-- 
    Default Datatypes
  -->
   <extension point="org.faktorips.devtools.core.datatypeDefinition">
      <datatypeDefinition 
      			datatypeClass="org.faktorips.datatype.classtypes.StringDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.StringHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.IntegerDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.IntegerHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.LongDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.LongHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.BooleanDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.BooleanHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.DateDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.DateHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.GregorianCalendarAsDateDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.GregorianCalendarAsDateHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.DecimalDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.DecimalHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.MoneyDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.MoneyHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.classtypes.DoubleDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.DoubleHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.PrimitiveBooleanDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.PrimitiveBooleanHelper"/>
      <datatypeDefinition 
		        datatypeClass="org.faktorips.datatype.PrimitiveIntegerDatatype"
      			helperClass="org.faktorips.codegen.dthelpers.PrimitiveIntegerHelper"/>
   </extension>

<!-- 
  Markers
-->
   <extension point="org.eclipse.core.resources.markers" id="problemmarker" name="FaktorIPS-Problemmarker"> 
      <persistent value="true"/> 
      <super type="org.eclipse.core.resources.problemmarker"/> 
   </extension> 

  
<!-- 
  Product-Definition-Extensions
-->
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.faktorips.devtools.productDefinitionCategory"
            class="org.faktorips.devtools.core.ui.views.productdefinitionexplorer.ProductExplorer"
            icon="icons/ProductDefinitionExplorer.gif"
            id="org.faktorips.devtools.core.ui.views.productDefinitionExplorer"
            name="%org.faktorips.devtools.core.ui.views.productDefinitionExplorer"/>
      <view
            allowMultiple="false"
            category="org.faktorips.devtools.productDefinitionCategory"
            class="org.faktorips.devtools.core.ui.views.productstructureexplorer.ProductStructureExplorer"
            icon="icons/ProductStructureExplorer.gif"
            id="org.faktorips.devtools.core.ui.views.productStructureExplorer"
            name="%org.faktorips.devtools.core.ui.views.productStructureExplorer"/>
      <category
            id="org.faktorips.devtools.productDefinitionCategory"
            name="%org.faktorips.devtools.productDefinitionCategory"/>
      <view
            allowMultiple="false"
            category="org.faktorips.devtools.productDefinitionCategory"
            class="org.faktorips.devtools.core.ui.views.attrtable.AttributesTable"
            id="org.faktorips.devtools.core.ui.views.attributesTable"
            name="%org.faktorips.devtools.core.ui.views.attributesTable"/>
      <view
            allowMultiple="false"
            category="org.faktorips.devtools.productDefinitionCategory"
            class="org.faktorips.devtools.core.ui.views.modelexplorer.ModelExplorer"
            icon="icons/ModelExplorer.gif"
            id="org.faktorips.devtools.core.ui.views.modelExplorer"
            name="%org.faktorips.devtools.core.ui.views.modelExplorer"/>
      <view
            allowMultiple="false"
            category="org.faktorips.devtools.productDefinitionCategory"
            class="org.faktorips.devtools.core.ui.views.testrunner.IpsTestRunnerViewPart"
            icon="icons/TestCaseRun.gif"
            id="org.faktorips.devtools.core.ui.views.testRunner"
            name="%org.faktorips.devtools.core.ui.views.testRunner"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.faktorips.devtools.core.ui.search.ReferenceSearchResultPage"
            id="org.faktorips.devtools.core.ui.search.ReferenceSearchResultPage"
            searchResultClass="org.faktorips.devtools.core.ui.search.ReferenceSearchResult"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.faktorips.devtools.core.ui.FolderPropertiesPage"
            id="org.faktorips.devtools.core.folderProperties"
            name="%org.faktorips.devtools.core.folderProperties"
            objectClass="org.eclipse.core.resources.IFolder"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipspct"
            id="org.faktorips.devtools.core.policyClass"
            name="Policy Class"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipsproduct"
            id="org.faktorips.devtools.core.productComponent"
            name="Product Component"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstablestructure"
            id="org.faktorips.devtools.core.tableStructure"
            name="Table Structure"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstablecontents"
            id="org.faktorips.devtools.core.TableContents"
            name="Table Contents"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstestcase"
            id="org.faktorips.devtools.core.testCase"
            name="Test Case"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ipstestcasetype"
            id="org.faktorips.devtools.core.testCaseType"
            name="TestCase Type"
            priority="normal"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.faktorips.devtools.core.internal.application.IpsApplication"
            description="Magnificent Product-Definition-Tool from FaktorZehn GmbH"
            name="Faktor IPS">
         <property
               name="windowImages"
               value="icons/ArrowDown.gif"/>
      </product>
   </extension>
   <extension
         id="productDefinitionTool"
         name="Faktor IPS"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.faktorips.devtools.core.internal.application.IpsApplication"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.faktorips.devtools.core.productDefinitionPerspective">
         <view
               closeable="false"
               id="org.faktorips.devtools.core.ui.views.productDefinitionExplorer"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true"/>
         <view
               closeable="false"
               id="org.faktorips.devtools.core.ui.views.productStructureExplorer"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="org.faktorips.devtools.core.ui.views.productDefinitionExplorer"
               showTitle="true"
               standalone="false"
               visible="true"/>
         <view
               closeable="false"
               id="org.eclipse.ui.views.ProblemView"
               moveable="true"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true"/>
         <actionSet id="org.faktorips.devtools.actions.ProductDefinitionActionSet"/>
         <view
               closeable="true"
               id="org.faktorips.devtools.core.ui.views.modelExplorer"
               moveable="true"
               relationship="stack"
               relative="org.faktorips.devtools.core.ui.views.productDefinitionExplorer"
               showTitle="true"
               standalone="false"
               visible="false"/>
         <view
               closeable="true"
               id="org.faktorips.devtools.core.ui.views.testRunner"
               moveable="true"
               relationship="stack"
               relative="org.faktorips.devtools.core.ui.views.productDefinitionExplorer"
               showTitle="true"
               standalone="false"
               visible="false"/>
      </perspectiveExtension>
   </extension>
</plugin>
