<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.faktorips.devtools.core.ui.bf.BusinessFunctionsEditor"
            contributorClass="org.faktorips.devtools.bf.ui.actions.BfActionBarContributor"
            default="true"
            extensions="ipsbusinessfunction"
            id="org.faktorips.devtools.bf.ui.editor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
        <wizard
              category="org.faktorips.devtools"
              class="org.faktorips.devtools.bf.ui.wizard.NewBFWizard"
              id="org.faktorips.devtools.bf.ui.wizard"
              name="%NewBfWizard.name">
		<selection
               class="org.eclipse.core.resources.IResource">
        </selection>
      </wizard>
  </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.faktorips.devtools.bf.ui.editor"
            labelProvider="org.faktorips.devtools.core.ui.bf.BusinessFunctionLabelProvider">
         <propertyCategory
               category="BusinessFunction"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.faktorips.devtools.bf.ui.editor">
         <propertyTab
               category="BusinessFunction"
               id="businessfunction.general"
               label="%org.faktorips.devtools.bf.ui.editor.BusinessFunction.General">
         </propertyTab>
         <propertyTab
               afterTab="businessfunction.general"
               category="BusinessFunction"
               id="businessfunction.description"
               label="%org.faktorips.devtools.bf.ui.editor.BusinessFunction.Description">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.faktorips.devtools.bf.ui.editor">
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.NamedOnlyBFElementsPropertySection"
               id="businessfunction.general.opaqueaction"
               tab="businessfunction.general">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.InlineActionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.NamedOnlyBFElementsPropertySection"
               id="businessfunction.general.merge"
               tab="businessfunction.general">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.MergeEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.DecisionPropertySection"
               id="businessfunction.general.decision"
               tab="businessfunction.general">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.DecisionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.ControlFlowPropertySection"
               id="businessfunction.general.controlFlow"
               tab="businessfunction.general">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.ControlFlowEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.ParameterBFElementPropertySection"
               id="businessfunction.general.parameters"
               tab="businessfunction.general">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.ParameterEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.CallMethodActionPropertySection"
               id="businessfunction.general.callmethodaction"
               tab="businessfunction.general">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.CallMethodActionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.CallBusinessFunctionActionPropertySection"
               id="businessfunction.general.callbusinessfunctionaction"
               tab="businessfunction.general">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.CallBusinessFunctionActionEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="businessfunction.general.opaqueaction"
               class="org.faktorips.devtools.bf.ui.properties.DescriptionPropertySection"
               id="businessfunction.description.opaqueaction"
               tab="businessfunction.description">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.InlineActionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.DescriptionPropertySection"
               id="businessfunction.description.merge"
               tab="businessfunction.description">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.MergeEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.DescriptionPropertySection"
               id="businessfunction.description.decision"
               tab="businessfunction.description">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.DecisionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.DescriptionPropertySection"
               id="businessfunction.description.callmethodaction"
               tab="businessfunction.description">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.CallMethodActionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.DescriptionPropertySection"
               id="businessfunction.description.callbusinessfunctionaction"
               tab="businessfunction.description">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.CallBusinessFunctionActionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.faktorips.devtools.bf.ui.properties.DescriptionPropertySection"
               id="businessfunction.description"
               tab="businessfunction.description">
            <input
                  type="org.faktorips.devtools.bf.ui.edit.BusinessFunctionEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
