<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.faktorips.devtools.core.ipsobjecttype">
      <ipsobjecttype
            class="org.faktorips.devtools.formulalibrary.internal.model.FormulaLibraryIpsObjectType">
      </ipsobjecttype>
   </extension>
	<extension
         point="org.faktorips.devtools.stdbuilder.artefactBuilderFactory">
      <artefactBuilderFactory
            class="org.faktorips.devtools.formulalibrary.builder.FormulaLibraryBuilderFactory">
      </artefactBuilderFactory>
   </extension>
   <extension
         id="formulaLibraryResolverFactory"
         name="function resolver factory for an formulaLibrary resolver"
         point="org.faktorips.devtools.core.flFunctionResolverFactory">
         <functionResolverFactory class="org.faktorips.devtools.formulalibrary.FormulaLibraryResolverFactory"/>
   </extension>
</plugin>
