<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Target for Faktor-IPS Base (Galileo)" sequenceNumber="99">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.lang" version="2.6.0"/>
<unit id="org.apache.openejb.javaee-api" version="0.0.0"/>
<unit id="groovy-all" version="0.0.0"/>
<repository location="https://update.faktorzehn.org/p2repositories/faktorips/deploy"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.mockito.mockito-all" version="0.0.0"/>
<repository location="https://update.faktorzehn.org/p2repositories/faktorips/test"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="3.5.0.v20111128114305"/>
<repository location="https://update.faktorzehn.org/p2repositories/babel-galileo"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.5.0.v200906151043"/>
<repository location="https://update.faktorzehn.org/p2repositories/modeling/emf/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cvs.feature.group" version="1.1.101.R35x_v20100125-7E79FGD9kKF67BPDZ7PKCE1911"/>
<unit id="org.eclipse.jdt.feature.group" version="3.5.2.r352_v20100108-7r88FEwFI0WTuoBl0iaG0tyhfZH6"/>
<unit id="org.eclipse.platform.feature.group" version="3.5.2.R35x_v20100210-0800-9hEiFzmFst-TiEn9hNYgDWg1XN8ulH_JvCNGB"/>
<unit id="org.eclipse.pde.feature.group" version="3.5.2.R35x_v20100119-7Z7_FA2FDX-aXQYWqYDBz-z0qufo"/>
<unit id="org.eclipse.rcp.feature.group" version="3.5.2.R35x_v20100119-9SA0FxwFnoCU5XxWItFdXXb27BA6"/>
<unit id="org.eclipse.gef.feature.group" version="3.5.2.v20100111-1352-777928194B66D5D476C33B2A"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="3.0.1.v200908281330"/>
<repository location="https://update.faktorzehn.org/p2repositories/galileo"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xpand.feature.group" version="1.1.1.v201108020519"/>
<unit id="org.eclipse.xtend.feature.group" version="1.1.1.v201108020519"/>
<repository location="https://update.faktorzehn.org/p2repositories/modeling/m2t/xpand/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.2.0.v201112070431"/>
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.2.1.v201112070431"/>
<unit id="com.google.inject" version="0.0.0"/>
<unit id="org.aopalliance" version="0.0.0"/>
<repository location="https://update.faktorzehn.org/p2repositories/modeling/emft/mwe/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="1.3.0.201202151440-r"/>
<unit id="org.eclipse.jgit.feature.group" version="1.3.0.201202151440-r"/>
<repository location="https://update.faktorzehn.org/p2repositories/egit/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.faktorips.valuetypes.joda.feature.feature.group" version="1.0.0.ci_20130306-1621"/>
<repository location="http://update.faktorzehn.org/p2repositories/fips/FaktorIPS_Valuetypes_Addons"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dorg.eclipse.swt.browser.XULRunnerPath=/usr/lib/xulrunner/ -XX:MaxPermSize=256m</vmArgs>
</launcherArgs>
</target>
