<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.faktorips.m2e.IpsProjectConfigurator"
            id="org.faktorips.maven.projectConfigurator"
            name="IPS"
            runsAfter="org.eclipse.m2e.jdt.javaConfigurator?">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         point="org.faktorips.devtools.model.eclipse.versionProvider">
      <versionProvider
            class="org.faktorips.m2e.version.MavenVersionProviderFactory"
            id="org.faktorips.maven.mavenVersionProvider">
      </versionProvider>
   </extension>
   <extension
         point="org.faktorips.devtools.model.eclipse.addIpsNature">
      <ipsProjectConfigurator
            class="org.faktorips.m2e.ipsconfigurator.MavenIpsProjectConfigurator">
      </ipsProjectConfigurator>
   </extension>
   <extension
         point="org.faktorips.devtools.core.loadTocTreeFromDependencyManager">
      <loadTocTree
            class="org.faktorips.m2e.toctree.MavenTocTreeLoader">
      </loadTocTree>
   </extension>
</plugin>
