<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.faktorips.devtools.core.externalTableFormat"
         name="Contributed Table Formats"
         point="org.faktorips.devtools.core.externalTableFormat">
      <externalTableFormat
            class="org.faktorips.devtools.tableconversion.excel.ExcelTableFormat"
            defaultExtension=".xls"
            id="org.faktorips.devtools.tableconversion.excel.ExcelTableFormat"
            name="Excel">
      </externalTableFormat>
      <externalTableFormat
            class="org.faktorips.devtools.tableconversion.csv.CSVTableFormat"
            defaultExtension=".csv"
            guiClass="org.faktorips.devtools.tableconversion.ui.CSVPropertyCompositeFactory"
            id="org.faktorips.devtools.tableconversion.csv.CSVTableFormat"
            name="Text (CSV)">
      </externalTableFormat>
   </extension>
   <extension
         id="org.faktorips.devtools.core.externalValueConverter"
         name="Contributed Value Converters for Table Formats"
         point="org.faktorips.devtools.core.externalValueConverter">
      <externalTableFormat tableFormatId="org.faktorips.devtools.tableconversion.excel.ExcelTableFormat">
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.BooleanValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.DoubleValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.IntegerValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.LongValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.StringValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.GregorianCalendarValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.DecimalValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.MoneyValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.excel.DateValueConverter"/>
      </externalTableFormat>	
      <externalTableFormat tableFormatId="org.faktorips.devtools.tableconversion.csv.CSVTableFormat">
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.BooleanValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.DoubleValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.IntegerValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.LongValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.StringValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.GregorianCalendarValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.DecimalValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.MoneyValueConverter"/>
         <externalValueConverter class="org.faktorips.devtools.tableconversion.csv.DateValueConverter"/>
      </externalTableFormat>
   </extension>

</plugin>
