<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


	<!--
	This extension is used to test the deployment wizard
	-->
   <extension
         point="org.faktorips.devtools.core.releaseDeploymentExtension">
      <releaseExtension
            id="org.faktorips.devtools.core.test.releaseExtension"
            readableVersionFormat="z.B. 2.4.1.rfinal"
            deploymentOperation="org.faktorips.devtools.core.deployment.TestDeploymentOperation"
            versionFormatRegex="[0-9]+\.[0-9]+\.[0-9]+\.[a-z]+">
      </releaseExtension>
   </extension>

</plugin>
