<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.faktorips.devtools.core.refactor.java.RenameRefactoringParticipant"
            id="org.faktorips.devtools.stdbuilder.renameParticipant"
            name="StdBuilderRenameParticipant">
         <enablement>
            <instanceof
                  value="org.faktorips.devtools.model.IIpsElement">
            </instanceof></enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.faktorips.devtools.core.refactor.java.MoveRefactoringParticipant"
            id="org.faktorips.devtools.stdbuilder.moveParticipant"
            name="StdBuilderMoveParticipant">
         <enablement>
            <instanceof
                  value="org.faktorips.devtools.model.ipsobject.IIpsObject">
            </instanceof></enablement>
      </moveParticipant>
   </extension>
      <extension
         point="org.faktorips.devtools.core.pullUpParticipants">
      <pullUpParticipant
            class="org.faktorips.devtools.core.refactor.java.PullUpRefactoringParticipant"
            id="org.faktorips.devtools.stdbuilder.pullUpParticipant"
            name="StdBuilderPullUpParticipant">
      </pullUpParticipant>
   </extension>
   <extension
         point="org.faktorips.devtools.model.addIpsNature">
      <ipsProjectConfigurator
            class="org.faktorips.devtools.core.refactor.modules.ModuleIpsProjectConfigurator">
      </ipsProjectConfigurator>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="org.faktorips.devtools.core.refactor.java.TemplateDeleteParticipant"
            id="org.faktorips.devtools.core.refactor.templateDeleteParticipant"
            name="TemplateDeleteParticipant">
         <enablement></enablement>
      </deleteParticipant>
   </extension>
</plugin>
