@CHARSET "UTF-8";

body {
	font-size: 0.9em;
	font-family: Verdana, sans-serif;
}

.BOLD {
	font-weight: bold;
}

.ITALIC {
	font-style: italic;
}

.CENTER {
	text-align: center;
}

.BLOCK {
	text-align: justify;
}

.RIGHT {
	text-align: right;
}

.LEFT {
	text-align: left;
}

.BORDER {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.INDENTION {
	padding-left: 2em;	
}

table.BORDER tr td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

table.BORDER {
	border-collapse: collapse;
	border-spacing: 3pt;
}

.TABLE_HEADLINE {
	color: white;
	background-color: #333333;
	font-size: 110%;
}

.TABLE_ROW_EVEN {
	background-color: #CCCCCC;
}

.TABLE_ROW_UNEVEN {
	background-color: #EEEEEE;
}

img {
	border-width: 0px;
}

a {
	text-decoration: none;
}