@CHARSET "UTF-8";

body {
	font-size: 0.9em;
	font-family: Verdana, sans-serif;
}

.BOLD {
	font-weight: bold;
}

.ITALIC {
	font-style: italic;
}

.CENTER {
	text-align: center;
}

.BLOCK {
	text-align: justify;
}

.RIGHT {
	text-align: right;
}

.LEFT {
	text-align: left;
}

.SMALL {
	font-size: 75%;	
}

.BIG {
	font-size: 125%;	
}


.BORDER {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.INDENTION {
	padding-left: 2em;	
}

table.BORDER tr td {
	border-width: 2px;
	border-style: solid;
	border-color: white;
}

table.BORDER {
	border-collapse: collapse;
	border-spacing: 3pt;
}

td ul {
	margin: 0px;
}

.TABLE_HEADLINE {
	color: white;
	background-color: #444444;
	font-weight: bold;
	padding: 1px;
	text-align: center;
}

.TABLE_ROW_EVEN {
	background-color: #DDDDDD;
}

.TABLE_ROW_UNEVEN {
	background-color: #EEEEEE;
}

h2 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	padding-top: .4em;
	margin-top: .5em;
}

img {
	border-width: 0px;
}

a {
	text-decoration: none;
}