@CHARSET "UTF-8";

body {
	font-size: 0.8em;
}

.BOLD {
	font-weight: bold;
}

.ITALIC {
	font-style: italic;
}

.CENTER {
	text-align: center;
}

.BLOCK {
	text-align: justify;
}

.RIGHT {
	text-align: right;
}

.LEFT {
	text-align: left;
}

.BORDER {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

table.BORDER tr td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

table.BORDER {
	border-collapse: collapse;
	border-spacing: 3pt;
}


.TABLE_HEADLINE {
	color: white;
	background-color: #333333;
	font-size: 120%;
}

.TABLE_ROW_EVEN {
	background-color: #BBBBBB;
}

.TABLE_ROW_UNEVEN {
	background-color: #DDDDDD;
}