<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!--
	Extension points
-->
   <extension-point id="externalTableFormat" name="External Table Format" schema="schema/externalTableFormat.exsd"/>
   <extension-point id="externalValueConverter" name="External Value Converter" schema="schema/externalValueConverter.exsd"/>
   <extension-point id="pullUpParticipants" name="Pull Up Participants" schema="schema/pullUpParticipants.exsd"/>
   <extension-point id="teamOperationsFactory" name="Team Operations Factory" schema="schema/teamOperationsFactory.exsd"/>
   <extension-point id="newProductDefinitionOperation" name="New Product Definition Operation" schema="schema/newProductDefinitionOperation.exsd"/>
   <extension-point id="loadTocTreeFromDependencyManager" name="Load Toc Tree from Dependency Managers" schema="schema/loadTocTreeFromDependencyManager.exsd"/>
   
<!-- 
    Extensions to the Java perspective
  -->

<!-- 
    Nature and Builders
  -->
   
<!--
    Problem View Filter (available since Eclipse 3.2)
-->
   <extension point="org.eclipse.ui.ide.markerSupport">
      <problemFilter name="Faktor-IPS Problems" id="org.faktorips.devtools.core.problemFilter"
                enabled="true"
                scope="ON_ANY">
                <selectedType markerId="org.faktorips.devtools.model.eclipse.problemmarker"/>
                <selectedType markerId="org.faktorips.devtools.model.eclipse.problemmarker.build"/>
      </problemFilter>
   </extension>  

<!-- 
  Product-Definition-Extensions
-->
   
   <extension
         id="productDefinitionTool"
         name="Faktor-IPS"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.faktorips.devtools.core.internal.application.IpsApplication"/>
      </application>
   </extension>


   <extension
         id="FaktorIPS"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.faktorips.devtools.core.productDefinitionTool"
            name="Faktor-IPS">
         <property
               name="appName"
               value="Faktor-IPS">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/org.faktorips.devtools.core/icons/fips_about.png">
         </property>
         <property
               name="aboutText"
               value="%org.faktorips.aboutText">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.faktorips.devtools.core/icons/fips_window16.png,platform:/plugin/org.faktorips.devtools.core/icons/fips_window32.png,platform:/plugin/org.faktorips.devtools.core/icons/fips_window64.png">
         </property>
         
         <property
		    name="cssTheme"
		    value="org.eclipse.e4.ui.css.theme.e4_default">
		</property>
		<property
		    name="applicationCSSResources"
		    value="platform:/plugin/org.eclipse.platform/images/">
		</property>
		<property
			name="startupForegroundColor"
			value="565656"/>
		<property
			name="startupProgressRect"
			value="27,253,500,8"/>
		<property
			name="startupMessageRect"
			value="27,264,500,20"/>
      </product>
   </extension>
   
   <extension
         point="org.faktorips.devtools.model.faktorIpsFeatureVersionManager">
      <faktorIpsFeatureVersionManager
            basedOnFeatureManager="org.faktorips.feature.versionmanagerv2"
            class="org.faktorips.devtools.core.internal.migrationextensions.IpsExtendableVersionManager"
            featureId="org.faktorips.feature"
            id="org.faktorips.feature.versionmanagerV3"
            requiredForAllProjects="true">
      </faktorIpsFeatureVersionManager>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.faktorips.devtools.model.productcmpt.IProductCmptLink"
            class="org.faktorips.devtools.core.internal.model.adapter.ProductCmptLinkAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.adapter.IIpsSrcFileWrapper"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsSrcFileWrapperAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.IIpsElement">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.type.IType">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.ipsobject.IIpsObjectPartContainer"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsObjectPartContainerAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.type.IType">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.faktorips.devtools.core.internal.model.adapter.ResourceAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.type.IType">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.IIpsElement">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.ipsobject.IIpsSrcFile"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsSrcFileAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.type.IType">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.IIpsElement"
            class="org.faktorips.devtools.core.internal.model.adapter.IpsElementAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IFolder">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.productcmpt.IPropertyValue"
            class="org.faktorips.devtools.core.internal.model.adapter.PropertyValueAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsObject">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.ipsobject.IIpsSrcFile">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmptGeneration">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmpt">
         </adapter>
      </factory>
      <factory
            adaptableType="org.faktorips.devtools.model.productcmpt.treestructure.IProductCmptStructureReference"
            class="org.faktorips.devtools.model.productcmpt.treestructure.ProductCmptStructureAdapterFactory">
         <adapter
               type="org.faktorips.devtools.model.productcmpttype.IProductCmptTypeAssociation">
         </adapter>
         <adapter
               type="org.faktorips.devtools.model.productcmpt.IProductCmptGeneration">
         </adapter>
      </factory>
   </extension>
   
   <extension
         point="org.faktorips.devtools.model.ipsMigrationOperation">
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_24_1_0$Factory"
            targetVersion="24.1.0" />
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_24_7_0$Factory"
            targetVersion="24.7.0" />
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_25_1_0$Factory"
            targetVersion="25.1.0" />
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_25_7_0$Factory"
            targetVersion="25.7.0" />
      <migrationOperation
            class="org.faktorips.devtools.core.internal.migrationextensions.Migration_26_1_0$Factory"
            targetVersion="26.1.0" />
            
   </extension>
   <extension point="org.faktorips.devtools.model.ipsModelPreferences">
      <ipsModelPreferences provider="org.faktorips.devtools.core.internal.CoreIpsModelPreferencesProvider" />
   </extension>
   <extension point="org.faktorips.devtools.model.classLoaderProviderFactory">
      <classLoaderProviderFactory class="org.faktorips.devtools.core.internal.JavaRuntimeClassLoaderProviderFactory" />
   </extension>
</plugin>
