<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="ipsstdbuilderset"
         name="%ipsstdbuilderset"
         point="org.faktorips.devtools.core.artefactbuilderset">
      <builderSet class="org.faktorips.devtools.stdbuilder.StandardBuilderSet"/>
   </extension>

</plugin>
