<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="artefactBuilderFactory" name="artefactBuilderFactory" schema="schema/artefactBuilderFactory.exsd"/>
   <extension-point id="tocEntryBuilderFactory" name="TOC entry builder factory" schema="schema/tocEntryBuilderFactory.exsd"/>
   <extension-point id="tocEntryFactory" name="TOC entry factory" schema="schema/tocEntryFactory.exsd"/>
   <extension-point id="datatypeHelperFactory" name="DatatypeHelperFactory" schema="schema/datatypeHelperFactory.exsd"/>

   <extension
         id="ipsstdbuilderset"
         name="%ipsstdbuilderset"
         point="org.faktorips.devtools.model.artefactbuilderset">
      <builderSet class="org.faktorips.devtools.stdbuilder.StandardBuilderSet">
         <builderSetPropertyDef 
            defaultValue="false" 
            description="%generateChangeListenerDescription" 
            disableValue="false" 
            label="%generateChangeListenerLabel" 
            name="generateChangeListener" 
            type="boolean"/>
         <builderSetPropertyDef
            defaultValue="true"
            description="%generateDeltaSupportDescription"
            disableValue="false"
            label="%generateDeltaSupportLabel"
            name="generateDeltaSupport"
            type="boolean"/>
         <builderSetPropertyDef
            defaultValue="true"
            description="%generateCopySupportDescription"
            disableValue="false"
            label="%generateCopySupportLabel"
            name="generateCopySupport"
            type="boolean"/>
         <builderSetPropertyDef
            defaultValue="true"
            description="%generateVisitorSupportDescription"
            disableValue="false"
            label="%generateVisitorSupportLabel"
            name="generateVisitorSupport"
            type="boolean"/>
         <builderSetPropertyDef
            class="org.faktorips.devtools.model.builder.IpsLoggingFrameworkConnectorPropertyDef"
            defaultValue="org.faktorips.devtools.model.javaUtilLoggingConnector"
            description="%loggingFrameworkConnectorDescription"
            extensionPointId="org.faktorips.devtools.model.loggingFrameworkConnector"
            label="%loggingFrameworkConnectorLabel"
            name="loggingFrameworkConnector"
            type="extensionPoint"/>
         <builderSetPropertyDef
            name="minimalJavadoc"
            description="%minimalJavadocDescription"
            label="%minimalJavadocLabel"
            type="boolean"
            disableValue="false"
            defaultValue="false"/>
         <builderSetPropertyDef
            defaultValue="de"
            description="%generatorLocaleDescription"
            label="%generatorLocaleLabel"
            name="generatorLocale"
            type="enum">
            <discreteValues>
               <value value="de" />
               <value value="en" />
            </discreteValues>
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="false"
            description="%generateJaxbSupportDescription"
            disableValue="false"
            label="%generateJaxbSupportLabel"
            name="generateJaxbSupport"
            type="boolean">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="Generic JPA 2.0"
            description="%persistenceProviderDescription"
            label="%persistenceProviderLabel"
            name="persistenceProvider"
            type="enum">
            <discreteValues>
               <!-- see org.faktorips.devtools.stdbuilder.StandardBuilderSet.initSupportedPersistenceProviderMap() -->
               <value value="None" />
               <value value="EclipseLink 1.1" />
               <value value="EclipseLink 2.5" />
               <value value="Generic JPA 2.0" />
               <value value="Generic JPA 2.1" />
               <value value="Jakarta Persistence 2.2" />
            </discreteValues>               
         </builderSetPropertyDef>         
         <builderSetPropertyDef
            defaultValue="Both"
            description="%formulaCompilingDescription"
            disableValue="Both"
            label="%formulaCompilingLabel"
            name="formulaCompiling"
            type="enum">
            <discreteValues>
            	<!-- @see org.faktorips.devtools.stdbuilder.StandardBuilderSet.FormulaCompiling -->
               <value value="Subclass" />
               <value value="XML" />
               <value value="Both" />
            </discreteValues>
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="true"
            description="%markNoneMergeableResourcesAsDerivedDescription"
            disableValue="true"
            label="%markNoneMergeableResourcesAsDerivedLabel"
            name="markNoneMergeableResourcesAsDerived"
            type="boolean">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="false"
            description="%toXMLSupportDescription"
            disableValue="false"
            label="%toXMLSupportLabel"
            name="toXMLSupport"
            type="boolean">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="true"
            description="%camelCaseSeparatedDescription"
            disableValue="false"
            label="%camelCaseSeparatedLabel"
            name="camelCaseSeparated"
            type="boolean">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="false"
            description="%generatePublishedInterfacesDescription"
            disableValue="true"
            label="%generatePublishedInterfacesLabel"
            name="generatePublishedInterfaces"
            type="boolean">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="false"
            description="%serializablePolicyCmptsDescription"
            disableValue="false"
            label="%serializablePolicyCmptsLabel"
            name="serializablePolicyCmpts"
            type="boolean">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="false"
            description="%generateConvenienceGettersDescription"
            disableValue="true"
            label="%generateConvenienceGettersLabel"
            name="generateConvenienceGetters"
            type="boolean">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue=""
            description="%additionalAnnotationsDescription"
            disableValue=""
            label="%additionalAnnotationsLabel"
            name="additionalAnnotations"
            type="string">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue=""
            description="%retainAnnotationsDescription"
            disableValue=""
            label="%retainAnnotationsLabel"
            name="retainAnnotations"
            type="string">
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="java8"
            description="%localDateDatatypeHelperVariantDescription"
            disableValue="joda"
            label="%localDateDatatypeHelperVariantLabel"
            name="localDateDatatypeHelperVariant"
            type="enum">
            <discreteValues>
               <value value="joda" />
               <value value="java8" />
            </discreteValues>
         </builderSetPropertyDef>
         <builderSetPropertyDef
            defaultValue="All"
            description="%builderClassesDescription"
            disableValue="None"
            label="%builderClassesLabel"
            name="builderClasses"
            type="enum">
            <discreteValues>
               <value value="Policies only" />
               <value value="Products only" />
               <value value="All" />
               <value value="None" />
            </discreteValues>
         </builderSetPropertyDef>
         <builderSetPropertyDef
               class="org.faktorips.devtools.stdbuilder.PolicyBaseClassBuilderSetPropertyDef"
               description="%baseClassPolicyComponentDescription"
               label="%baseClassPolicyComponentLabel"
               name="baseClassPolicyComponent"
               defaultValue=""
               type="string">
         </builderSetPropertyDef>
         <builderSetPropertyDef
               class="org.faktorips.devtools.stdbuilder.ProductBaseClassBuilderSetPropertyDef"
               description="%baseClassProductComponentDescription"
               label="%baseClassProductComponentLabel"
               name="baseClassProductComponent"
               defaultValue=""
               type="string">
         </builderSetPropertyDef>
         <builderSetPropertyDef
               class="org.faktorips.devtools.stdbuilder.ChangesOverTimeNamingConventionPropertyDef"
               description="%changesOverTimeNamingConventionDescription"
               label="%changesOverTimeNamingConventionLabel"
               name="changesInTimeNamingConvention"
               defaultValue=""
               type="string">
         </builderSetPropertyDef>
      </builderSet>
   </extension>
   <extension
         point="org.faktorips.devtools.stdbuilder.artefactBuilderFactory">
      <artefactBuilderFactory
            class="org.faktorips.devtools.stdbuilder.xtend.policycmptbuilder.PolicyBuilderFactory">
      </artefactBuilderFactory>
   </extension>
   <extension
         point="org.faktorips.devtools.stdbuilder.artefactBuilderFactory">
      <artefactBuilderFactory
            class="org.faktorips.devtools.stdbuilder.xtend.productcmptbuilder.ProductBuilderFactory">
      </artefactBuilderFactory>
   </extension>

<!-- 
    Datatype Helper Factories
-->
   <extension point="org.faktorips.devtools.stdbuilder.datatypeHelperFactory">
      <datatypeHelperFactory
            datatypeClass="org.faktorips.datatype.joda.LocalDateDatatype"
            factoryClass="org.faktorips.devtools.stdbuilder.dthelper.LocalDateHelperFactory">
      </datatypeHelperFactory>
      <datatypeHelperFactory
            datatypeClass="org.faktorips.datatype.joda.LocalDateTimeDatatype"
            factoryClass="org.faktorips.devtools.stdbuilder.dthelper.LocalDateTimeHelperFactory">
      </datatypeHelperFactory>
      <datatypeHelperFactory
            datatypeClass="org.faktorips.datatype.joda.LocalTimeDatatype"
            factoryClass="org.faktorips.devtools.stdbuilder.dthelper.LocalTimeHelperFactory">
      </datatypeHelperFactory>
      <datatypeHelperFactory
            datatypeClass="org.faktorips.datatype.joda.MonthDayDatatype"
            factoryClass="org.faktorips.devtools.stdbuilder.dthelper.MonthDayHelperFactory">
      </datatypeHelperFactory>
   </extension>


</plugin>
