# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
       eclipse-release: ['2024-09', '2024-12', '2025-06', '2025-09', '2025-12', '2026-03']

    env:
       integration-test-release: '2024-09'
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDKs
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'adopt'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.11
    - name: build config
      run: mvn -B -V install --settings settings.xml --file codequality-config/pom.xml
    - name: build targets
      run: mvn -B -V clean install -pl :targets -am --settings settings.xml -Dtarget-platform=eclipse-${{ matrix.eclipse-release }}
    - name: Check compiles
      run: mvn -B -V clean package --settings settings.xml --file pom.xml -T1C -Dtarget-platform=eclipse-${{ matrix.eclipse-release }} -DskipTests -Dtycho.p2.transport.min-cache-minutes=1440 --global-toolchains ${{ github.workspace }}/.github/toolchains.xml
      if: ${{ matrix.eclipse-release != env.integration-test-release }}
    - name: Run Integration Tests
      uses: coactions/setup-xvfb@v1.0.1
      with:
       run: mvn -B clean verify --settings settings.xml --file pom.xml -T1C -Dtarget-platform=eclipse-${{ matrix.eclipse-release }} -Dmaven.test.failure.ignore=true -Dtycho.p2.transport.min-cache-minutes=1440 --global-toolchains ${{ github.workspace }}/.github/toolchains.xml
      if: ${{ matrix.eclipse-release == env.integration-test-release }}
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      with:
        name: test-results-${{ matrix.eclipse-release }}
        if-no-files-found: error
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
      if: ${{ matrix.eclipse-release == env.integration-test-release }}
